<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
<h2>User Correction</h2>
<form th:action="@{/users/saveOrUpdateUser}" th:object="${user}" th:method="POST">
    <input type="hidden" th:field="*{id}">
    Name:
    <input type="text" th:field="*{name}"/>
    <br/>
    Surname:
    <input type="text" th:field="*{surname}"/>
    <br/>
    Age:
    <input type="text" th:field="*{age}"/>
    <br/>
    Salary:
    <input type="text" th:field="*{salary}"/>
    <br/>
    <input type="submit" value="Update"/>
</form>
</body>
</html>